#!/usr/bin/make -f

%:
	dh $@

build_dir = build

PREFIX = /opt/riscv

PWD := $(shell pwd)
PKGVER := $(shell head -1 PKGVERSION)

OPTS_COMMON_BINUTILS = \
	--enable-binutils \
	--enable-gas \
	--enable-ld \
	--enable-gold \
	--enable-gprof \
	--enable-sim \
	--disable-gdb

OPTS_BINUTILS = \
	--target=riscv64-unknown-elf \
	$(OPTS_COMMON_BINUTILS)

OPTS_GLIBC_BINUTILS = \
	--target=riscv64-unknown-linux-gnu \
	$(OPTS_COMMON_BINUTILS)

OPTS_MUSL_BINUTILS = \
	--target=riscv64-unknown-linux-musl \
	$(OPTS_COMMON_BINUTILS)

define configure_macro
	$(eval PROJ = $(1))
	$(eval OPTS = $(2))
	mkdir -p $(build_dir)_$(PROJ) && \
	cd $(build_dir)_$(PROJ) && \
	../configure \
	  --prefix=$(PREFIX) \
	  --libdir=$(PREFIX)/lib/$(PROJ) \
	  --infodir=$(PREFIX)/share/doc/$(PROJ)/info \
	  --htmldir=$(PREFIX)/share/doc/$(PROJ)/html \
	  --pdfdir=$(PREFIX)/share/doc/$(PROJ)/pdf \
	  --disable-werror \
	  --with-expat=yes \
	  --enable-libdecnumber \
	  --enable-libreadline \
	  --without-intel_pt \
	  --with-pkgversion="$(PKGVER)" \
	  $(OPTS)
endef

define build_macro
	$(eval PROJ = $(1))
	dh_auto_build -B$(build_dir)_$(PROJ) --parallel
endef

define install_macro
	$(eval PROJ = $(1))
	$(MAKE) install -C $(build_dir)_$(PROJ) DESTDIR=$(PWD)/debian/$(PROJ)
	rm -rf \
	  $(PWD)/debian/$(PROJ)/$(PREFIX)/share/info \
	  $(PWD)/debian/$(PROJ)/$(PREFIX)/share/locale
endef

override_dh_auto_configure:
	$(call configure_macro,riscv64-binutils,$(OPTS_BINUTILS))
	$(call configure_macro,riscv64-linux-glibc-binutils,$(OPTS_GLIBC_BINUTILS))
	$(call configure_macro,riscv64-linux-musl-binutils,$(OPTS_MUSL_BINUTILS))

override_dh_auto_build:
	$(call build_macro,riscv64-binutils)
	$(call build_macro,riscv64-linux-glibc-binutils)
	$(call build_macro,riscv64-linux-musl-binutils)

# Ignore tests
override_dh_auto_test:

override_dh_auto_install:
	$(call install_macro,riscv64-binutils)
	$(call install_macro,riscv64-linux-glibc-binutils)
	$(call install_macro,riscv64-linux-musl-binutils)
